@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');



:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: "Passion One", sans-serif;
    --font3: "Sriracha", cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1.2em;
}

html, body {
    
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--font2);
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 4em;
}

header p {
    padding-bottom: 50px;

}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;

}



section {
    padding-top: 10vh;
    padding-bottom: 10vh;

}

section pre {
    font-family: var(--font3);
    margin-left: -10px;
    padding-bottom: 3em;

}



section.normal {
    background-color: white;
    color: rgb(0, 0, 0);

}

section.imagem {
    background-color: rgba(84, 80, 80);
    margin-bottom: -30px;
    color: white;
    padding-left: 50px;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.337);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem  pre {
    width: 550px;
    background-color: rgba(0, 0, 0, 0.498);
    text-shadow: 1px 1px 0px black;
    
    

}

section#img01 {
    background-image: url(imagens/background001.jpg) ;
    background-position: right center;
}

section#img02 {
    background-image: url(imagens/background002.jpg);
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}